.header {
    background-color: #28293E;
    color: #FFFFFF;
    padding: 10px 10px;
}

.wrapper {
    max-width: 1570px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    text-align: center;
    padding: 34px 0 60px 0;
}

.title {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 34px;
}

.description {
    font-weight: 300;
    color: #FFFFFF94;
    max-width: 570px;
    margin: 0 auto;
    line-height: 2;
}

@media screen and (max-width: 1606px) {
    .wrapper {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1206px) {
    .wrapper {
        max-width: 740px;
    }
}

@media screen and (max-width: 1040px) {
    .title {
        font-size: 56px;
    }
}
