body {
  margin: 0;
  background-color: #FDF0E9;
  font-family: "Epilogue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}